<% admin_breadcrumb(plural_resource_name(SolidusBolt::BoltConfiguration)) %>

<% content_for :page_actions do %>
  <% if SolidusBolt::BoltConfiguration.config_empty? %>
    <li>
      <%= raw t(
        'spree.admin.bolt.register_merchant_account',
        production_link: link_to(t('spree.admin.bolt.production'), SolidusBolt::BoltConfiguration::PRODUCTION_REGISTER_URL, target: '_blank'),
        sandbox_link: link_to(t('spree.admin.bolt.sandbox'), SolidusBolt::BoltConfiguration::SANDBOX_REGISTER_URL, target: '_blank'),
        bolt_image: image_tag("bolt_logo_standard.png", alt: "Bolt", width: "40")
        ) %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Configure Webhooks', new_admin_bolt_webhook_path, class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>

<fieldset class="no-border-bottom">
  <legend align="center"><%= t('spree.admin.bolt.configuration') %></legend>
  <%= render partial: 'configuration', locals: { edit_btn: 'Edit' } %>
</fieldset>
