---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - a8581c11-6cff-4b08-bea9-27fe21c9b2b6
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RS3nZFItSK4FtuQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 14:08:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 29 Apr 2022 12:56:22 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"vNNdxQA8QCJJTz1LDh5gW4gEVNPJrz5XdsKFRJB19HmZdqfUKmfyROf33iFD\nX46U/8DbBZ0=\n","nonce":"OTc0MDY5OTcxNTQ3NDA1MzYwMzAzMjYw\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d278ac09-b9cc-4c77-b1de-5e7d27bf3e5d
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RWACpFXGSK4Fg_A=
      Etag:
      - W/"111-7QuZv5Tg3diZpLTfD6x7vt7thuc"
      X-Amzn-Remapped-Date:
      - Fri, 29 Apr 2022 12:56:23 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"aukbt25bHEJ2b9qBF/514kkPzT0SYT3R62gHJkE9cYM0rlmnZZj46fmQo7sb/TyHEvGkVdx59hg4CvOlyH3KlQmgilJRwZwigzyvb2xQW704p89lWlIgu/SEPifV8PxG9ts+9i++WsZmqvHZf8XWgQP3PEs3K5AoKedkdbjXpDCVZWv0Z9VX3m3EkUz0nwqqbjlf22AgB0qDGyEehMbKDWK9","nonce":"VH3DtU2/jCKA50v8O7vznJfmMsG+QU2E"}'
  recorded_at: Fri, 29 Apr 2022 12:56:23 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R817828301","currency":"USD","items":[{"sku":"SKU-4","name":"Product
        #4 - 4629","unit_price":1000,"quantity":1}]},"credit_card":{"token":"033057a87551a27f6e7c6045532a93c280dc666da9a27f5bcd9d323d45e6b447","expiry":1651237883135,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email4@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 475c1df699df16230fa673c5ffcb8a60
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626be077-23a1f6be58ddcce37218bd68
      X-Device-Id:
      - cdc777d610881fce4377c5665de595cd441019eb42395430eb31522bec58e4f7
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA7rZfX1kkLzu","type":"cc_payment","processor":"vantiv","date":1651236983969,"reference":"FKLL-GPWX-QYHL","status":"pending","from_consumer":{"id":"CA2FEERyLnfNj","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email4@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAhxu8i1gZKp3","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83988908213091453","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651524983969}},"did_create_bolt_account":false}'
  recorded_at: Fri, 29 Apr 2022 12:56:25 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/capture
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"FKLL-GPWX-QYHL","amount":10,"currency":"USD"}'
    headers:
      X-Nonce:
      - 68dd391ae36ea365039c11c26ac4b87e
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";[...]
