---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - a8581c11-6cff-4b08-bea9-27fe21c9b2b6
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RS3nZFItSK4FtuQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 14:08:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 29 Apr 2022 12:57:23 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"IdKwI3TyHeVd5f/pkIFvPcJ2kBBxq3MzShS2VFF0ZwWFnAUCZ7qnmAcQsiiV\n65X8GrhvhmM=\n","nonce":"NzI1MDEwMDc4ODU3NDM5MjA5MzE2ODA1\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fb947ff3-0e3c-40c6-bea8-16afab8a40c4
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RWAMXG4JSK4Fc9Q=
      Etag:
      - W/"111-SKnK3GsOejBIjHDfANBSZW+dE7M"
      X-Amzn-Remapped-Date:
      - Fri, 29 Apr 2022 12:57:25 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"EBXSkt9TtdgSqq6pClTxf6DpwT6PM5EcREoqfiVTJmXbQICHgTNNA1r4TPGmfJNAwlXdM25oc3BImwujscams7dHWZLtLAEAvAvK+iLCcTn9kqZCQ5MdGENJpViTlJoMLa+ibCLrHaTm+WPECsMqQmksUO34Fup8FbZ61WXqFVgzd/vRaEiIGqcyOxVyypbtC9jPpMl3x9MMEHfJb6frRQ0a","nonce":"Hk2lkjA/sXCzw8RQg7vwX0XnctHM+Sur"}'
  recorded_at: Fri, 29 Apr 2022 12:57:25 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R843778564","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 3985","unit_price":1000,"quantity":1}]},"credit_card":{"token":"9ca8fecb7c777933181b668a3e50448b736f026ad58d59a60c81c2ff91399a45","expiry":1651237945383,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 9e8b47ccb84c6576acfa386129415e91
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626be0b6-6faa581444d6bb254869866a
      X-Device-Id:
      - e3fad73f42627f9b82bdb6a3d779f8d477df3823ab7fd1b1bdb1c151c927adb1
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TAb2eK1YQ5YWy","type":"cc_payment","processor":"vantiv","date":1651237046382,"reference":"9KK6-3KF6-MR4T","status":"pending","from_consumer":{"id":"CAdz6mA3qT7Zn","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CA4nZ9XJGHFzE","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076869808108568","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651525046382}},"did_create_bolt_account":false}'
  recorded_at: Fri, 29 Apr 2022 12:57:27 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/capture
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"9KK6-3KF6-MR4T","amount":10,"currency":"USD"}'
    headers:
      X-Nonce:
      - bd974a8730bf6f407282baec19071959
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";[...]
