---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - a8581c11-6cff-4b08-bea9-27fe21c9b2b6
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RS3nZFItSK4FtuQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 14:08:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 29 Apr 2022 12:56:17 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"5nZm10FEf9D9rSZUgsF8SLiWM+tI66lUc86NCMOWncI2DSpqEZnaYuhFjwfH\np1g534YmROU=\n","nonce":"Njg3MTQwNzQzMDQ2NjQ3NDQ3NDQzMDA3\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - dd532e37-8be4-4b2b-bbf9-82e4624deaa4
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RWAB6EqbSK4FiBA=
      Etag:
      - W/"111-YZiAkyutw5RjFFQuoFGgd6v4tD0"
      X-Amzn-Remapped-Date:
      - Fri, 29 Apr 2022 12:56:18 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"ob1LQ5dykPfcUMiKe2RE7GBaovyDyXaR9S3yw/ShFbuq9B7L96ykI+lhKcF2t1vY6siugvLxWjxefWN+cWk0E4r6mQGKsRLGhg1eFZoiACXoPqwtkiTL86V8q3yFMmPL1WaWZTspnP+3jfXDhks60iZ0s9V7nn1MaEZqrNqp67FDJvtVwAhpgVZbR5+RpBI+vw7KC7l6HkjmqJUQDRzLX0BY","nonce":"2NMtpXnn3Rv8xI420pJm08Qa63tnB12M"}'
  recorded_at: Fri, 29 Apr 2022 12:56:18 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R516037857","currency":"USD","items":[{"sku":"SKU-3","name":"Product
        #3 - 7086","unit_price":1000,"quantity":1}]},"credit_card":{"token":"1f61c440e54a0a3632da5a4e428808ca30a146b651afcb907a2cbecb586d082d","expiry":1651237878463,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email3@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 5d10d8f64e3e0901dd58ecd13ae801ff
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626be073-11aabe8d1b0bf5e81e225f3d
      X-Device-Id:
      - 3d4126672c0102d6d3d6448fcefbfab1874bd799f745d4dcc58943d8c914b74f
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA8PWpvZNesEW","type":"cc_payment","processor":"vantiv","date":1651236979313,"reference":"T3X2-R42H-BWGK","status":"pending","from_consumer":{"id":"CA73iRt5qk8dH","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email3@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CA8ZFXPf7Y9vj","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076869808101548","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651524979313}},"did_create_bolt_account":false}'
  recorded_at: Fri, 29 Apr 2022 12:56:20 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/capture
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"T3X2-R42H-BWGK","amount":10,"currency":"USD"}'
    headers:
      X-Nonce:
      - 7087aa104e3e479993972a8c680f993e
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";[...]
