---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - ddd4fa64-dd84-4ebe-afb1-ae372a684415
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - TBOW8F1wyK4FlRQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Wed, 01 Jun 2022 01:43:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Thu, 02 Jun 2022 00:01:29 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"FLp+y7ibvlFn/K71OyZqGEVG1BbJJW/o4BaF6HbU/6xtKWj1Rks35CFDRlet\n6RIGHJAW3RI=\n","nonce":"ODM0MDgxMTA4NDIzODMyMzc0OTQwNzM4\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c611ec26-d5ca-4c82-a7c1-7fde22b4c117
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - TESaAFFMSK4Fhhg=
      Etag:
      - W/"111-88Fh86w3lUDF8zpS5j7vQXbKPIU"
      X-Amzn-Remapped-Date:
      - Thu, 02 Jun 2022 00:01:29 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"TBJhRKI5jgp41E/PIkAhAhRrPccvwM8u4NRYvi1m1pkwPJgsOObF4RDNkQJL+IoZVt2yaMUEnG5BIEIE0hcsgGj+7K1xSd3wvJhxY6h0Qhao2mX+SKJ5ywXE9X4wkiwe6BvW56Hm4I/lJW6KKw4JUjmmd4P6mFz/LkUPykhwykjU/768RpldKGI9qR+mhcL0juOM6/I5NZAfDXHFgJuHOmu5","nonce":"D1pH7c7czHKe+qg6ja0s00uVvicuH+8C"}'
  recorded_at: Thu, 02 Jun 2022 00:01:30 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R176717922","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 6989","unit_price":1000,"quantity":1}],"billing_address":{"street_address1":"PO
        Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","postal_code":"10001","country_code":"US","first_name":"John","last_name":"Von
        Doe","phone":"555-555-0199","email":"email1@example.com"}},"source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"credit_card":{"token":"93fca3bf4de67c9876064c7030c0f55fc24e532941b7fe428bb6284380cd8813","expiry":1654128989469,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-06","token_type":"bolt"},"division_id":"","shipping_address":{"street_address1":"A
        Different Road","street_address2":"Northwest","locality":"Herndon","region":"AL","postal_code":"10002","country_code":"US","first_name":"John","last_name":"Von
        Doe","phone":"555-555-0199","email":"email1@example.com"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 8af4a27e7a16d1d0bc8783f66d969bce
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-6297fdda-2224b935774f1c931d3e23cb
      X-Device-Id:
      - 84e8ee1221908851c3862dcae84095115cf4414fb7d3a6b837f6a6a2e327e3de
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TAbb4otzRr5ce","type":"cc_payment","processor":"vantiv","date":1654128090187,"reference":"4HYC-GXT8-RRC7","status":"pending","from_consumer":{"id":"CAkz7tSJWhC2Q","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAmH4vrnNGhtc","last4":"1004","bin":"411111","expiration":1685577600000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83989147580314516","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://solidus-bolt-demo.herokuapp.com/webhooks/bolt","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","product_info_url":"https://d1e8-106-73-12-66.jp.ngrok.io/webhooks/bolt","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"20","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","risk_score":0,"splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1654416090187}},"did_create_bolt_account":false}'
  recorded_at: Thu, 02 Jun 2022 00:01:31 GMT
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/4HYC-GXT8-RRC7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nonce:
      - d9521a21e6130e7398c7ec88a431e8ad
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9Py[...]
