---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 6e645974-0de1-4fc3-9287-31919127a2c7
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SBEZvF6YyK4FaMQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Thu, 12 May 2022 14:33:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 13 May 2022 05:41:09 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"KQZaR6jVaDaB4VjrhHeWKLY+y093205s3H89vVlqe3CKR3Z9EvYdRHrdhkLZ\nFBnoj7ZlV18=\n","nonce":"OTU5NTEwMTk0NTQyNjIzMjMyNTEzNjcx\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3bd3ab88-e3eb-454e-a53c-98e6808ce055
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SDJaiGtfyK4FevQ=
      Etag:
      - W/"111-DUYs7TfyE5GALdjoSX9ndIY3W7A"
      X-Amzn-Remapped-Date:
      - Fri, 13 May 2022 05:41:10 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"xOdTr8diAyICTi7RKKdJENd7Yb4PKnXYZznCzruo9SYJkilaCjNo07jm+kwXMnAtUE34VBFm52PxUTZKr9+uQ+P5qnjIPc3RsTVGZy61N/QkSKE46tyicWWWCy6pUR63onpA4N2BMkGppetGLiYTkCSwPbpQ3f2Uc5tBThxl7AchtprV7wzvFjXnwtnMhCPOuZ4Ikknm2yaGpwT/pSklAKpc","nonce":"K9f9g8PwzGJ2WEZugGU2tzR9U80YS3f3"}'
  recorded_at: Fri, 13 May 2022 05:41:10 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R966516288","currency":"USD","items":[{"sku":"SKU-2","name":"Product
        #2 - 2050","unit_price":1000,"quantity":1}]},"credit_card":{"token":"5f0e10fd8717859577a270f2fe9b78e4cdefa02a9dd66141283e0dadefaa7822","expiry":1652421370451,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email2@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 3f9a100d44da20e88e26aaae09ab4cb2
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627def77-3e689e884ef5ff863dc14b4c
      X-Device-Id:
      - 8633aa0dfd2f58982f5c8aeb96e069a9209af1e92e35e45090d22438556e57cb
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA2YmaSwgp3nc","type":"cc_payment","processor":"vantiv","date":1652420471948,"reference":"F4KP-9LFL-YRJ4","status":"pending","from_consumer":{"id":"CAmTyR6Tf372P","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email2@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAhqENN5mbhbP","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076974428234776","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652708471948}},"did_create_bolt_account":false}'
  recorded_at: Fri, 13 May 2022 05:41:13 GMT
recorded_with: VCR 6.0.0
