---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"division_id":"<DIVISION_ID>","url":"https://solidus-test.com/webhook","event_group":"all"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-629466fa-37572ceb2fe4e9703b906e26
      X-Device-Id:
      - 542aff933313830b6744d12044d88da43f24e0b8340d27cba2b20042b8db573e
    body:
      encoding: UTF-8
      string: '{"webhook_id":"wh_gZ66XAVPSCCtT1RoyfsfmQ"}'
  recorded_at: Mon, 30 May 2022 06:40:58 GMT
recorded_with: VCR 6.0.0
