---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&code=Bolt%20Authorization%20Code&scope=openid%20bolt.account.manage&client_id=<PUBLISHABLE_KEY>&client_secret=<API_KEY>
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Error-Code:
      - '0'
      X-Bolt-Trace-Id:
      - Root=1-62749eea-4f3fe59a5770100c431b0442
      X-Device-Id:
      - 00d52d87772089f7901040d42ba5aa09c750b26ed688a8c25f07e35defbd2310
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided authorization
        grant (e.g., authorization code, resource owner credentials) or refresh token
        is invalid, expired, revoked, does not match the redirection URI used in the
        authorization request, or was issued to another client."}'
  recorded_at: Fri, 06 May 2022 04:07:06 GMT
recorded_with: VCR 6.0.0
