<div id="bolt-container"
  data-publishable-key="<%= payment_method.preferred_bolt_publishable_key %>"
  data-payment-method-id="<%= payment_method.id %>"
></div>
<div id="payment-status-container" style="display: none;">
  <div id="account-checkbox"></div>
  <br>
  <button id="bolt-submit-button" type="button">Submit</button>
  <br>
</div>
<button id="bolt-card-button" type="button">Pay</button>
