<div id="bolt-container"
  data-publishable-key="<%= payment_method.preferred_bolt_publishable_key %>"
  data-payment-method-id="<%= payment_method.id %>"
></div>
<div id="payment-status-container" style="display: none;">
  <button id="bolt-submit-button" type="button">Submit</button>
</div>
<button id="bolt-card-button" type="button">Pay</button>

<script
  id="bolt-embedded"
  type="text/javascript"
  src="<%= payment_method.preferred_bolt_base_url %>/embed-accounts.js"
  >
</script>
