---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/callbacks
    body:
      encoding: UTF-8
      string: '{"division_id":"Rq4qB1QajYLn","callback_urls":[{"type":"oauth_redirect","url":"http://localhost:3000/users/auth/bolt"},{"type":"oauth_logout","url":"http://localhost:3000//user/spree_user/logout"}]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-62e059db-307d2def557ae7d63cda1f93
      X-Device-Id:
      - 65fb9d676354668c7128f58217c94230e32303007b66559078fee6aefb88e8a4
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Tue, 26 Jul 2022 21:17:15 GMT
recorded_with: VCR 6.1.0
