---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/account/addresses
    body:
      encoding: UTF-8
      string: '{"street_address1":"PO Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","postal_code":"10001","country_code":"US","first_name":"John","last_name":"Von
        Doe","phone":"555-555-0199","email":"email1@example.com"}'
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-629036d3-4ca1fe12482f64583f803938
      X-Device-Id:
      - 37839ef8af1c9f83bc577c6f377aa9e576a512065a8cae738f8efdac5002ae1f
    body:
      encoding: UTF-8
      string: '{"result":{"success":false},"errors":[{"code":18,"message":"This action
        is forbidden."}]}'
  recorded_at: Fri, 27 May 2022 02:26:30 GMT
recorded_with: VCR 6.1.0
