---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qIm3IJy_-H0ytdEUItALvGR_rZPY6f_u4FMgUTAB__0.2bGRspapuPrN6IampksAE7o6l8V7u340dH76-3cRVAg
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-6282332d-4e3955be79dd8a333f1b96d6
      X-Device-Id:
      - ad1ce04b46593e54d09c6ae8b2abce20b1c051fc0920ac71d3a5a5c683ecbbe7
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"Piyush","last_name":"Swain","email":"piyushswain+bolt@nebulab.com","phone":"+919668487987","name":"Piyush
        Swain"},"addresses":[],"payment_methods":[],"has_bolt_account":true}'
  recorded_at: Mon, 16 May 2022 11:19:10 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qIm3IJy_-H0ytdEUItALvGR_rZPY6f_u4FMgUTAB__0.2bGRspapuPrN6IampksAE7o6l8V7u340dH76-3cRVAg
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-62823330-6f8d31f847b8a289644d8450
      X-Device-Id:
      - 69040285b6a58d0aa7236ff3f82b6f509c96331db29c4c2ad34ad2d7e2f8fed7
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"Piyush","last_name":"Swain","email":"piyushswain+bolt@nebulab.com","phone":"+919668487987","name":"Piyush
        Swain"},"addresses":[],"payment_methods":[],"has_bolt_account":true}'
  recorded_at: Mon, 16 May 2022 11:19:12 GMT
recorded_with: VCR 6.0.0
