---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-6282377a-36a07b7a13d19ded15b028e2
      X-Device-Id:
      - 820897c02a7a1d3d2931f58c098dd0b2d39d65541f265f23b8f39b4f1573c3c2
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"Piyush","last_name":"Swain","email":"piyushswain+bolt@nebulab.com","phone":"+919668487987","name":"Piyush
        Swain"},"addresses":[],"payment_methods":[],"has_bolt_account":true}'
  recorded_at: Mon, 16 May 2022 11:37:30 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-6282377d-5c4c52465481e9c10a25cfeb
      X-Device-Id:
      - e21efc8f82b9628132d556ce7033ae227bcb36a899e46868b297a983fa2fae2a
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"Piyush","last_name":"Swain","email":"piyushswain+bolt@nebulab.com","phone":"+919668487987","name":"Piyush
        Swain"},"addresses":[],"payment_methods":[],"has_bolt_account":true}'
  recorded_at: Mon, 16 May 2022 11:37:33 GMT
recorded_with: VCR 6.0.0
