---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 6e645974-0de1-4fc3-9287-31919127a2c7
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SBEZvF6YyK4FaMQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Thu, 12 May 2022 14:33:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 13 May 2022 05:41:00 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"XhSWjyJvRMpQClsWbZuj3dibZSZ8nJoJIEFSR1hYyzuO+1kxJMcOFPwoaw3s\nkqOAXYW7Rxs=\n","nonce":"NjEzODQ0MTUyODczNDE0MDU2MzczMzMw\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '04558f0f-bc93-47c5-ba69-be69e5852032'
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SDJZMF0GyK4FnuQ=
      Etag:
      - W/"111-rLM7y+yYWY126vyMuPrAxAeOhKc"
      X-Amzn-Remapped-Date:
      - Fri, 13 May 2022 05:41:01 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"O2I4bjRgkgu8OQjYYcfGjzbEaqADx4dyvkotPKTXMzFf7GgQ/rd4Dvh/XCO6wgfQOXFSa2aDFQ+3z2+qF7cZfgtKMfknAA75VsBpkf9bqW6ZBhtDRVHEqsATqs0fQUSEC/1Zk2/RJ4OeJBy9rpEAerSWGhyVua0wUimIcbcnsTNMMk6RdAfLSehpQnwd+TE54qWqPh4HAJ1bOZhXILGEslnu","nonce":"SM5K/XfpYPidMfWIvlTM/Sjv4bViuRR3"}'
  recorded_at: Fri, 13 May 2022 05:41:01 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":true,"cart":{"total_amount":11000,"order_reference":"R388979045","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 416","unit_price":1000,"quantity":1}]},"credit_card":{"token":"449b90fb9b62b9168a9ce99eaf722062f3af48bb080d065feff074d8510de835","expiry":1652421361849,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - a82600e1434e9f75c3ef2f6643b23a0d
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627def6f-225404dd6491409a25dbbf55
      X-Device-Id:
      - 951f97b9f98f7c13226e4384b3e989c78de4749c11f7d402c03811011b4516fe
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TAgk2aLEWmg5n","type":"cc_payment","processor":"vantiv","date":1652420463364,"reference":"GFND-CJCJ-3RT6","status":"pending","from_consumer":{"id":"CAhZmWN566F82","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAa2gjNpm7ZGi","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83989013502313194","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652708463364}},"did_create_bolt_account":false}'
  recorded_at: Fri, 13 May 2022 05:41:05 GMT
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/GFND-CJCJ-3RT6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nonce:
      - 3c21dd76e93df33df4844e8a75c104a4
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9Py[...]
