---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/GFND-CJCJ-3RT6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nonce:
      - 3c21dd76e93df33df4844e8a75c104a4
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627def74-779db37b4ae0a6f15c57af1d
      X-Device-Id:
      - 62a0d163c73e45f95b34304e0281631ec67ea2e056a8182319d54e9797180bac
    body:
      encoding: UTF-8
      string: '{"id":"TAgk2aLEWmg5n","type":"cc_payment","processor":"vantiv","date":1652420463364,"reference":"GFND-CJCJ-3RT6","status":"completed","from_consumer":{"id":"CAhZmWN566F82","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAa2gjNpm7ZGi","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83989013502313194","reason":"none","status":"succeeded"},"capture":{"id":"CAdGQAqaGaatb","status":"succeeded","amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"splits":[{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"network_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"apm_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"platform_fee"},{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"metadata":{"processor_capture_id":"83989013502313251"}},"captures":[{"id":"CAdGQAqaGaatb","status":"succeeded","amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"splits":[{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"network_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"apm_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"platform_fee"},{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"metadata":{"processor_capture_id":"83989013502313251"}}],"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"merchant":{"created_at":"2022-03-29T21:04:10.707458Z","description":"Solidus","processor":"vantiv","operational_processors":[{"processor":"vantiv","status":"primary"}],"public_id":"CB_FtfGdUP2e","time_zone":"America/Los_Angeles","onboarding_status":"LEGACY"},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"risk_assessment_only","splits":[{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"network_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"apm_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"platform_fee"},{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652708463364},"adjust_transactions":[],"auth_verification_status":"","void_cause":"","chargeback_details":{"reason":"","reason_code":"","chargeback_amt":{"amount":0,"currency":"","currency_symbol":""},"chargeback_fee":{"amount":0,"currency":"","currency_symbol":""},"net_amt":{"amount":0,"currency":"","currency_symbol":""},"representment_result":""},"order":{"token":"dd1b190feb6978f212e93f7bf2a8afb685d50dcf6aba16de5bef2e23abdace5d","cart":{"order_reference":"R388979045","display_id":"R388979045","currency":{"currency":"USD","currency_symbol":"$"},"subtotal_amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"total_amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"discount_amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"items":[{"reference":"","name":"Product
        #1 - 416","total_amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"unit_price":{"amount":1000,"currency":"USD","currency_symbol":"$"},"quantity":1,"sku":"SKU-1","type":"physical","taxable":true,"properties":[],"shipment_type":"door_delivery"}]},"external_data":{}},"refunded_amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"refund_transactions":[],"refund_transaction_ids":[],"source_transaction":null,"timeline":[{"date":1652420467464,"type":"note","note":"Bolt
        Automatically Captured Order","amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"visibility":"merchant"},{"date":1652420465627,"type":"note","note":"Bolt
        Approved Order","visibility":"merchant"},{"date":1652420465090,"type":"note","note":"Authorized
        Order","consumer":{"id":"CANL4Mzgw6cV","first_name":"John","last_name":"Doe"},"visibility":"merchant"},{"date":1652420463408,"type":"note","note":"Created
        Order","consumer":{"id":"CANL4Mzgw6cV","first_name":"John","last_name":"Doe"},"visibility":"merchant"}],"customer_list_status":{"auto_approved":false,"block_listed":false},"address_change_request_metadata":{"can_change_shipping_address":true}}'
  recorded_at: Fri, 13 May 2022 05:41:08 GMT
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 4a713794-71b1-46b0-92d1-33f8e10387cf
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SYJHJHWcSK4Fhlw=
      X-Amzn-Remapped-Date:
      - Thu, 19 May 2022 14:34:08 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Fri, 20 May 2022 14:13:35 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"8cMVNXd/0vnsz/1M6MOYGCfVuxCLOQC3eaGZuMWNrLo0dTtrNZ0vPmaFP2LF\nBfhvqRZIYhs=\n","nonce":"OTgzNjA5NDUzMzQwMDI3NTIxMTk4MzYw\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9b8204d9-527c-4581-9a9f-4371f8dc0d68
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SbZCfGfLyK4FZeQ=
      Etag:
      - W/"111-4YYSAyeU0ihyU5oDZCSvdOr/1bg"
      X-Amzn-Remapped-Date:
      - Fri, 20 May 2022 14:13:35 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"4ZM2XrZW+4UbvptVC9QBiut8bEbXZkToXpG5HSSN6IqLYu+kMZcIyS8XEiY82Haz3A7s/6VDnyoEL0h1RlPvXttjEW9UAK03Kof665wwHs2JS4e7uwfdS0YYq4XoYptwthT95OlNX3tdZw586+e+wxYZE2/uQFw62oQmAm8PFeqrsAgcb8GqZrPiYER2cnPzOLoZgwoPqCtgAE5gNp/u1Cjj","nonce":"wbCiAGj+DWuMo+FMsTFLTFfsR3dmw8ia"}'
  recorded_at: Fri, 20 May 2022 14:13:35 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":true,"cart":{"total_amount":11000,"order_reference":"R389862515","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 9937","unit_price":1000,"quantity":1}]},"credit_card":{"token":"74d746158568485969b91d78257029a694624991733fb49a4f0357e7b299d4b2","expiry":1653056915774,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"shipping_address":{"street_address1":"A
        Different Road","street_address2":"Northwest","locality":"Herndon","region":"AL","postal_code":"10002","country_code":"US","first_name":"John","last_name":"Von
        Doe","phone":"555-555-0199","email":"email1@example.com"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 3c21d76e40efc295db73b4db5cba8b33
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-6287a210-3e6b3ad462fdffe52f276e2f
      X-Device-Id:
      - 9ab00f7cd71d14bb80a80a38b97266b947389a1a3206e6e1053e5379d858ff22
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA3mNJfgoKvQn","type":"cc_payment","processor":"vantiv","date":1653056016852,"reference":"9TGF-NTLC-7KDC","status":"pending","from_consumer":{"id":"CA4ZawxzPEbEa","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele"[...]
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/9TGF-NTLC-7KDC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nonce:
      - 5f2d0c72e6830c44e00753948f7e9504
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9Py[...]
