---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"division_id":"<DIVISION_ID>","url":"https://solidus-test.com/webhook","events":[""]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Error-Code:
      - '46'
      X-Bolt-Trace-Id:
      - Root=1-62946914-0bc27d70587a2f0b31b3cf53
      X-Device-Id:
      - b55bddc15664c262f06e79dc80b7b430f020049b23c99d1b3a9220dea1d12d8b
    body:
      encoding: UTF-8
      string: '{"result":{"success":false},"errors":[{"code":46,"message":"Internal
        error"}]}'
  recorded_at: Mon, 30 May 2022 06:49:56 GMT
recorded_with: VCR 6.0.0
