---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-62877b6c-2c72312277f16ad84b61bcff
      X-Device-Id:
      - cf7850bbef6674a2a25c543def5ef025b040b2a183a73bf92ff61424a6a18c8e
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"Danny","last_name":"Dove","email":"dannydove+bolt3@gmail.com","phone":"987654321","name":"Danny
        Dove"},"addresses":[{"id":"SA98t82gH2Grd","street_address1":"380 DEGRAW
        ST","locality":"Brooklyn","region":"NEW YORK","region_code":"NY","postal_code":"11231","country_code":"US","name":"Danny
        Dove","first_name":"Danny","last_name":"Dove","default":true}],"payment_methods":[{"id":"CA3tqG8Xg2RwS","type":"card","last4":"1111","network":"visa","default":true,"exp_month":11,"exp_year":2022}],"has_bolt_account":true}'
  recorded_at: Fri, 20 May 2022 11:28:44 GMT
[...]
