<% if spree_current_user %>
  <li><%= link_to t('spree.my_account'), spree.account_path %></li>
  <li><div class="bolt-account-sso" data-logged-in="true"></div></li>
<% else %>
  <li>
    <div class="bolt-account-sso"></div>
  </li>
  <script>
    function insertButtons() {
      if (typeof BoltAccount === 'undefined') {
          window.setTimeout(insertButtons, 100);
          return;
      }
      BoltAccount.injectButtons();
    }
    insertButtons();
  </script>
<% end %>
