---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 20db7f94-e555-439a-9564-0c3573830d60
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RSTMDF58SK4FvGg=
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 09:59:28 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Thu, 28 Apr 2022 20:02:19 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"pvMTfSXQ4WTXkbNKEQIhSe/uz2Ql0Kq4y5ltnDT9DHKlSG61HLSAZhgQcO22\nq5JIbw8taz8=\n","nonce":"ODg0NDU1Mjk5Mzk0MTA5NjM2MDQ0MTAw\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6d2bc5c8-9b72-49b8-a632-a33375672a04
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RTrgGF_MSK4Folg=
      Etag:
      - W/"111-1+AOStwxULaKOaxynWEj87qecT0"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 20:02:21 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"FYtySwwABZ5gBB5ZY1A/CHfWGkKu+lYU+h3KGr+CeElcQrfVAt/ucC4ezogE+WfcOAdVFCbaPUo9RjZupU031UL1/8rwmab0kQKG6X5b6tv62jg5SBDBE5VATKbmhH3Sw1/Waaf4QErfd8n0l22B6e+Ktcq+sv9BXs+X9CEbysmogqUGfrJd6kT1teMUmPfS2pJRyXyotCYSSzVJb75Q6HW7","nonce":"sPeFPOHramjKYCEHCdRqL1fGKI6m5j+h"}'
  recorded_at: Thu, 28 Apr 2022 20:02:21 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"order_reference":"R337695277","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 4450","unit_price":1000,"quantity":1}]},"credit_card":{"token":"7372e4ea9e397e7d36cd2c4a5532477bcb854af1bab01e8ae32dcdff1f8f9f41","expiry":1651177041324,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 5d5ecfb77b425f922d7090edc78f6d76
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626af2cf-056ba2260859cb1c30978df9
      X-Device-Id:
      - 3c01f5e5ae5c4a84deb2e4b5ccd6e2c5c74036f69dbb6425e01736e1c13fe669
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TAjxWJLjg2bFZ","type":"cc_payment","processor":"vantiv","date":1651176143331,"reference":"PWVG-QDWV-ZBGD","status":"pending","from_consumer":{"id":"CA6KxAMRXYdQT","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAdP8fPLC7Hjh","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076865140788778","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651464143331}},"did_create_bolt_account":false}'
  recorded_at: Thu, 28 Apr 2022 20:02:24 GMT
recorded_with: VCR 6.0.0
