---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-62956e4f-1a1d5d9371616b3e0bd6cead
      X-Device-Id:
      - a86166e54134f40be90bf98bdf9f1fcac49d23ac4259202b5038010473c636ba
    body:
      encoding: UTF-8
      string: '{"profile":{"first_name":"asdasd","last_name":"fsfasdf","email":"paulodalberti@nebulab.com","phone":"","name":"asdasd
        fsfasdf"},"addresses":[{"id":"SAM3dnUUNSbQ","street_address1":"PO Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","region_code":"AL","postal_code":"10001","country_code":"US","name":"John
        Von Doe","first_name":"John","last_name":"Von Doe","phone_number":"555-555-0199","email_address":"email1@example.com","default":true},{"id":"SA728NNovMq9H","street_address1":"PO
        Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","region_code":"AL","postal_code":"10003","country_code":"US","name":"John
        Von Doe","first_name":"John","last_name":"Von Doe","phone_number":"555-555-0199","email_address":"email2@example.com","default":false},{"id":"SAhkRT5iEmfuW","street_address1":"125
        E Anderson St","locality":"Savannah","region":"GA","region_code":"GA","postal_code":"31401","country_code":"US","name":"asdasd
        fsfasdf","first_name":"asdasd","last_name":"fsfasdf","phone_number":"2138739655","email_address":"paulodalberti@nebulab.com","default":false}],"payment_methods":[{"id":"CAmPJ4VxVomvF","type":"card","last4":"1004","billing_address":{"id":"AA3NQrvuvWVH1","street_address1":"PO
        Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","region_code":"AL","postal_code":"10001","country_code":"US","name":"John
        Von Doe","first_name":"John","last_name":"Von Doe","phone_number":"555-555-0199","email_address":"email1@example.com"},"network":"visa","default":true,"exp_month":5,"exp_year":2023},{"id":"CAenwUpogeBSY","type":"card","last4":"1004","billing_address":{"id":"AA655ttsE5Htm","street_address1":"PO
        Box 1337","street_address2":"Northwest","locality":"Herndon","region":"AL","region_code":"AL","postal_code":"10001","country_code":"US","name":"John
        Von Doe","first_name":"John","last_name":"Von Doe","phone_number":"555-555-0199","email_address":"email1@example.com"},"network":"visa","default":false,"exp_month":5,"exp_year":2023},{"id":"CA7kkwvW31AoT","type":"car[...]
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/account/addresses
    body:
      encoding: UTF-8
      string: '{"street_address1":"6420","street_address2":"Northwest","locality":"Herndon","region":"AL","postal_code":"10005","country_code":"US","first_name":"John","last_name":"Von
        Doe","phone":"555-555-0199","email":"email2@example.com"}'
    headers:
      Authorization:
      - "<BEARER AUTHORIZATION>"
      Content-Type:
      - application/json
      X-Api-Key:
[...]
