---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"division_id":"<DIVISION_ID>","url":"https://solidus-test.com/webhook","events":["payment"]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-629466fc-6a1a26e62e7eba6d1e9fd926
      X-Device-Id:
      - ed5e4fe47f4b0686fc249cfe6f9f08243e143eba2c60368002d0101c80daf6aa
    body:
      encoding: UTF-8
      string: '{"webhook_id":"wh_B6Lj6FMNQUCHNuC4UP0AOA"}'
  recorded_at: Mon, 30 May 2022 06:41:00 GMT
recorded_with: VCR 6.0.0
