---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 51e02956-5d0f-4223-973f-977830dc54b7
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R65oEGzKyK4FXWw=
      X-Amzn-Remapped-Date:
      - Tue, 10 May 2022 17:38:08 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Wed, 11 May 2022 01:47:14 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"4W1lxuX4KeOruA3PSIPChckNImQDvCG877Fw3R2loKsplrowhbjdjTkHrYeC\nyjLetDqEWA0=\n","nonce":"NzE5NjkyOTk2MTA0NjM2NDA5NzI2Mjg0\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e0656bc3-6e99-483c-afcb-c90f9847a01f
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R8BRWHUTyK4FuWw=
      Etag:
      - W/"111-i7TQ2uLMRTLJPuaj85O47n3TMeI"
      X-Amzn-Remapped-Date:
      - Wed, 11 May 2022 01:47:14 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"kQSl5v8lrGuLmCXbiHEmxEu3H3vAmjvm1i0sj+ZcMuuapUwN6sdwxDdMKNFjJORfXwMFu/PAKxbFyY9CIxeVOoxzaemraDL7+Db/a0SqSHARnsG7GRfGYGf9FUdpl2GAqchKhuRkL4kenWAoco5jkAXNt1T2QWo3UR9f68bg/MxK/7TUH7i5fts7WVcI1CTt8JV987POArelQdrbgZ7C1UNT","nonce":"jdbyzAZTYGSjV6uB4zrURHWqndAhzrh+"}'
  recorded_at: Wed, 11 May 2022 01:47:14 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R259062157","currency":"USD","items":[{"sku":"SKU-5","name":"Product
        #5 - 4692","unit_price":1000,"quantity":1}]},"credit_card":{"token":"faa6ad5cfa4d979e0cc5e74e76d35d19d246909a017f4bc2cbd80f9ba6821960","expiry":1652234534084,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email5@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - 2836adf0403236a80aab0d0b4591849a
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627b15a2-63012d3f1562cce45a496270
      X-Device-Id:
      - b7abc8a6f8df73439479826f6d332b2f9bec39871ef18a20740cdceb98204b7b
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA8x1uyfCnjgT","type":"cc_payment","processor":"vantiv","date":1652233634778,"reference":"9DRF-YMNM-M9DB","status":"pending","from_consumer":{"id":"CA97E1FAbXT1T","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email5@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CA5K5c4YE2tCi","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83988997087016712","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652521634778}},"did_create_bolt_account":false}'
  recorded_at: Wed, 11 May 2022 01:47:16 GMT
recorded_with: VCR 6.1.0
