---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 349a2d11-cc2b-4fd6-9d52-3b9923134e0e
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R9xdxGlzSK4FZjQ=
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
      X-Amzn-Remapped-Date:
      - Wed, 11 May 2022 14:33:08 GMT
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Thu, 12 May 2022 14:10:11 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"1vQMbbH3XRcvhII4vcdgKChFvs8TfVXHBu5LEOpGwue9fqM8crN4IL1yiAk8\n4ZhuJu0WtrE=\n","nonce":"ODY3ODY3MTk4NzY4NzE3NDAxODM1MTEy\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fd7e92d4-3145-455b-998d-84ba179430d6
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - SBBCvGW9yK4FsVQ=
      Etag:
      - W/"111-k1sP9hicEqDFeyPZTn5vprQcfd0"
      X-Amzn-Remapped-Date:
      - Thu, 12 May 2022 14:10:12 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"gVTeKLLMLAoRfLlIZVdPT6TJ7e+vxFgwEpS1IyuI39unIapNvOQFEI7x+gt/StVI8X3EyMpy/KMBeY1XGEjzwyWzRoLpq3AOuZ8E6tDEBtDWZxjDmoA+65xZZEKiZKVZGfwPe7tCEAl61KyIQySGMjWub6SKPHTrhudYWsXRSPPm7Dzv+AhXhHnT8y3G9bvZXBOk6uPuid7qRgjBjozaE/N+","nonce":"x/0q/PrYafmtDZGTjydCRdV0Awyk6YLz"}'
  recorded_at: Thu, 12 May 2022 14:10:12 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R315781601","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 1509","unit_price":1000,"quantity":1}]},"credit_card":{"token":"3a8fdea47ce0479eefc572edaba91b6362b2d08eb87b3bade8a0f2d7374eb059","expiry":1652365512610,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - eb6e96126465da14d04f4d7cd3cb3c09
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627d1545-5b81db3e740b475d336ae635
      X-Device-Id:
      - 2ad84287e1629d964ba39b7c331f392fded49f5d3fa212e74dec9bf38f0c013f
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA5QRBj1XWFy9","type":"cc_payment","processor":"vantiv","date":1652364613517,"reference":"K9XC-87DG-V2Y8","status":"pending","from_consumer":{"id":"CAcmQmWWZM3JX","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAiPdrnxwt9B5","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076974425064002","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652652613517}},"did_create_bolt_account":false}'
  recorded_at: Thu, 12 May 2022 14:10:14 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/void
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"K9XC-87DG-V2Y8","transaction_id":"TA5QRBj1XWFy9"}'
    headers:
      X-Nonce:
      - 3ec099590593f5d5b8b224889684d886
      Content-Type:
      - application/json
      X-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY2[...]
