---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 51e02956-5d0f-4223-973f-977830dc54b7
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R65oEGzKyK4FXWw=
      X-Amzn-Remapped-Date:
      - Tue, 10 May 2022 17:38:08 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Wed, 11 May 2022 01:52:13 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"QenIIT0RXVnUPIbr68+hiD34fem+M3zbGlbzI9OdXd5fWe5ZQv7x7HQxJqFC\nJy/jJNGw9zQ=\n","nonce":"MzMwNjE5OTc3MjIxMzI4MjMyNDU0OTU3\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5c57e45c-6da8-4da9-8b00-71c54987aec7
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R8CAIFrZSK4FuHQ=
      Etag:
      - W/"111-YFf9MUFeXBHx5mJJTxsTNse2Ifc"
      X-Amzn-Remapped-Date:
      - Wed, 11 May 2022 01:52:13 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"QFg48f4cXSISp0/zMLwX0QB8AJGzYyhgqQKR8k5QcMEffHfp5Y3hkjC3zjYKeXxRjXmtXfc3qbdjUY1iMf6pANxd/GvJzrSDWod47tB4ilMT43CI3j91Xw5h2KAt1KfZQnXRlqd2jQJQlTediNztJyg1zhFw4X9RznMUf7U/p6JDZ3QQ4nS1zCmf4C+uv6D7xFLchjT3jxfvvfmsnbwYizct","nonce":"w4hOJ+5uhVDjWM0BA2jaJdD5jB5plBDr"}'
  recorded_at: Wed, 11 May 2022 01:52:14 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R594737424","currency":"USD","items":[{"sku":"SKU-4","name":"Product
        #4 - 2939","unit_price":1000,"quantity":1}]},"credit_card":{"token":"141a5b33601b74e88d655b42c5d7e45d896452fc3e39d9843cccc73cd4377df7","expiry":1652234833454,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email4@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - cd777dc30bc9ed86387523e094e6f662
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627b16ce-41e640395b39e11c09aeb8ab
      X-Device-Id:
      - b665317eb36691956da7cffe642752217fbdab8006a523f5fb3e8ff3058ab18c
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TAh8yAnPMvUHX","type":"cc_payment","processor":"vantiv","date":1652233934075,"reference":"82QP-DTJN-QN3R","status":"pending","from_consumer":{"id":"CA9CBqmCzMKyi","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email4@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CA2fEDQP7hs3s","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83988997087026067","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652521934075}},"did_create_bolt_account":false}'
  recorded_at: Wed, 11 May 2022 01:52:15 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/void
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"82QP-DTJN-QN3R","credit_card_transaction_id":"TAh8yAnPMvUHX"}'
    headers:
      X-Nonce:
      - 0b4b8a248634628a7da57ec5e54378fb
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHk[...]
