---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 20db7f94-e555-439a-9564-0c3573830d60
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RSTMDF58SK4FvGg=
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 09:59:28 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Thu, 28 Apr 2022 20:55:53 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"QaCNDDe7wYILdJ/ZR+6f8CimoLKU2KMZwYoqDFdy4vkLMKdsp3rtw0gu9X7G\naIRjSO6s3Rg=\n","nonce":"MDkwMjYxNTYyMzY3MDI5MjA0MDA0Mjc4\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - befd4183-f059-47f3-ba0b-670839ff6a39
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RTzWNEVjSK4FbPA=
      Etag:
      - W/"111-zpJ9VQ139C4DQmAifD9TCs21WV0"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 20:55:54 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"fzg1KPDqsjUGxEmv15HulXbQXa+y1vc0FQ+omhTASL1usXRbVlGvJ5sXcQuDxjC8OFx0V/NKOIvNixDyBt6esKsuay5vwjQIReZG1fB37ggmm4CDaFAH7wPYTTNrfWFzAkJ0eYAUcIKjnwYZyvXG/mqtoKRi7OnTsAMTywS2AHqyerMJD9f+1odLjLPJ+5FQPDFD93l/i77E1J3jonoW0mdL","nonce":"r2Uo45f8YhdFCCMzvtUDZOlOpC9AeNB1"}'
  recorded_at: Thu, 28 Apr 2022 20:55:54 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R275560334","currency":"USD","items":[{"sku":"SKU-3","name":"Product
        #3 - 5719","unit_price":1000,"quantity":1}]},"credit_card":{"token":"b82baf7c463220396219874f215c55ebd89a6a303bfa7cab58ebbfa983e21c89","expiry":1651180254807,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email3@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - ae387be8ae0cc20ced5b0ade01cf0a0d
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626aff5c-618fb54c261f96e86483102f
      X-Device-Id:
      - cf9bceabf8f18458503951bf90479eb3528c310907cc36a403b44b8aaa9af9c7
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA2ac1n3MFKFM","type":"cc_payment","processor":"vantiv","date":1651179356647,"reference":"FMC7-CQG3-XQPG","status":"pending","from_consumer":{"id":"CAm77ZnB374Le","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email3@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAe9zUz88yQc8","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076865276007365","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651467356647}},"did_create_bolt_account":false}'
  recorded_at: Thu, 28 Apr 2022 20:55:58 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/capture
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"FMC7-CQG3-XQPG","amount":10,"currency":"USD"}'
    headers:
      X-Nonce:
      - ff3a729b2ea99b3f50ec7765131fb660
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";[...]
