---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 20db7f94-e555-439a-9564-0c3573830d60
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RSTMDF58SK4FvGg=
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 09:59:28 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Thu, 28 Apr 2022 20:55:40 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"cSI6lEhF/Pq4hj7qOtObOxP2W47m9pFkDB9TVQmdrgxRgfKyJDkwQPBA2Eee\np/BaPfn3Nqo=\n","nonce":"NDM2OTQ4NjA5NTU1MDQxNTI1NDYyOTEz\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c4422e2b-1e11-4d0f-89fc-337f7074a346
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - RTzUIH9AyK4FUtg=
      Etag:
      - W/"111-vnqpcIf90mw/n1PsSxje7/+VAPs"
      X-Amzn-Remapped-Date:
      - Thu, 28 Apr 2022 20:55:41 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"rjdhbRh1hTYztNZVh0yau6e1n7hT8fC1/9xLEKaGL2fz6E5buVJnGbLwque2Ei/JXr/pj4Mrm3+Q3GElmxAyBc24v4FdNcrhGFLKP2e7pOeO7nF6vsr2VYJFGco26/bl3U0qnFiZvv2obRr70AmKNjSB4uIolbOwELYWmHnA/6vsPeY6pzru8VSenjBge6rC77W361OpPrCMfNU5LEQ5xY9A","nonce":"dMH/C1eJvMUAoo0wiyZajcZ18SWdVxs5"}'
  recorded_at: Thu, 28 Apr 2022 20:55:41 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R759193387","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 479","unit_price":1000,"quantity":1}]},"credit_card":{"token":"beb064358a465de1ef08429c8c0502c6c210bec60a57990cc726afd4e7b8ea7a","expiry":1651180241490,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-04","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - d06aca49a0a6e14799fde97a73157f66
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-626aff4e-7d71580f710d93b5529d6294
      X-Device-Id:
      - b435e8ebd8c12c7dd0b25c528b42fb6c2edc5f78abf14d4632e02f6ffffaf6a2
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA2w1VnqLqvnd","type":"cc_payment","processor":"vantiv","date":1651179342660,"reference":"XV8Y-RP9N-4QV4","status":"pending","from_consumer":{"id":"CAe9uznw5Bviy","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAm4V7J2Cejih","last4":"1004","bin":"411111","expiration":1680307200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"83988904022709211","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","universal_merchant_api_url":"https://918c9efe2fcf.ngrok.io/merchant","debug_url":"https://asdf.ngrok.com/webhooks","plugin_config_url":"https://918c9efe2fcf.ngrok.io/merchant","product_info_url":"https://918c9efe2fcf.ngrok.io/merchant","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1651467342660}},"did_create_bolt_account":false}'
  recorded_at: Thu, 28 Apr 2022 20:55:44 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/capture
    body:
      encoding: UTF-8
      string: '{"transaction_reference":"XV8Y-RP9N-4QV4","amount":10,"currency":"USD"}'
    headers:
      X-Nonce:
      - c0c0400f0118262a85fb46a4d62baa23
      Content-Type:
      - application/json
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";[...]
