---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bolttk.com/public_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/text; charset=utf-8
      X-Amzn-Requestid:
      - 51e02956-5d0f-4223-973f-977830dc54b7
      X-Amzn-Remapped-Content-Length:
      - '44'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R65oEGzKyK4FXWw=
      X-Amzn-Remapped-Date:
      - Tue, 10 May 2022 17:38:08 GMT
      Etag:
      - W/"2c-qVZerSDDiabAHoqCi/o+02DcdQI"
    body:
      encoding: UTF-8
      string: SnTw15miTFwqwPnqn95Xurm049JaNGWdKX38id7/Lik=
  recorded_at: Wed, 11 May 2022 05:16:16 GMT
- request:
    method: post
    uri: https://sandbox.bolttk.com/token
    body:
      encoding: UTF-8
      string: '{"payload":"2VYCTQ5bvqa2aZTyzSGC8fH9vO76wlLTN2dON56a4ER4MhlbfyfbrrgUaWTk\npwHg51b40mc=\n","nonce":"NTQ1MjgwMzIwODU1NTAyMzc5OTA0ODMw\n","public_key":"jOscXiiZCsn+nfXFetBF+3On0nAWgedP87ZbJUKizDw=\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c6f52324-2a7c-4324-9fcc-4416f5f42333
      X-Amzn-Remapped-Content-Length:
      - '273'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - R8f5GEUhyK4FW6A=
      Etag:
      - W/"111-jDuSKdYvldgGJYJ72Xze91j93J0"
      X-Amzn-Remapped-Date:
      - Wed, 11 May 2022 05:16:16 GMT
    body:
      encoding: UTF-8
      string: '{"payload":"Q0eQ1A7mwr1nkPBjrxaCYRpX+QbzaQj7ELRCCuz4bTte5E2M/pMJw3e+LYguFNgxz6bcfmaF0VdI+TRE0gfJyop3v9duL++zdGxRKN47Om6RjMBg1BoWSn+kiKDveX7jw6m0hKY0g/XuVoAiTRmvgp5XwhWpNOc4xRYYQDNdaW8g58BEo4UoarNnORwi45ezveDY+kg8GgPLfoOWaTELp3h1","nonce":"2G1y1eByUNxXhGkIsPW7qajKwe0OLP+p"}'
  recorded_at: Wed, 11 May 2022 05:16:16 GMT
- request:
    method: post
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/authorize
    body:
      encoding: UTF-8
      string: '{"auto_capture":false,"cart":{"total_amount":11000,"order_reference":"R502198337","currency":"USD","items":[{"sku":"SKU-1","name":"Product
        #1 - 4860","unit_price":1000,"quantity":1}]},"credit_card":{"token":"1bbea32008aa500306d0ca290b8b8fcea1cf407da0666b6d5e38dc50bde37228","expiry":1652247076487,"last4":"1004","bin":"411111","network":"visa","expiration":"2023-05","token_type":"bolt"},"division_id":"","source":"direct_payments","user_identifier":{"email":"email1@example.com","phone":"555-555-0199"},"user_identity":{"first_name":"John","last_name":"Doe"},"create_bolt_account":false}'
    headers:
      Content-Type:
      - application/json
      X-Nonce:
      - a4ecff604a0be1712928f6489c35f38b
      X-Publishable-Key:
      - "<PUBLISHABLE_KEY>"
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000;pin-sha256="OGAVOYhLZd3ADKYGFZOED1c5m1ObMlRv9PyIWrO4Nd0=";pin-sha256="RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=";pin-sha256="IXHYSIdST+XY22J5ivybYkntMIfjA5P6pMKX2hWG1BE=";report-uri="https://77aa1bd121ef22d50247a23390ce6cff.report-uri.io/r/default/hpkp/reportOnly"
      X-Bolt-Api-Version:
      - '2022-01-01'
      X-Bolt-Trace-Id:
      - Root=1-627b46a1-628ab1b0602ef1fa29cec6af
      X-Device-Id:
      - 401c0dcb791217fc4e140ffea60600d05e52c1afc491c015e3110557751e724b
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"TA6ycQqjStRQ9","type":"cc_payment","processor":"vantiv","date":1652246177175,"reference":"BR6G-B6KH-WXBX","status":"pending","from_consumer":{"id":"CA3WXceXonaTM","first_name":"John","last_name":"Doe","phones":[{"id":"","number":"+1
        5555550199","country_code":"1","status":"","priority":""}],"emails":[{"id":"","address":"email1@example.com","status":"","priority":""}],"email_verified":false,"platform_account_status":"none"},"to_consumer":{"id":"CAgqtmLcWPErV","first_name":"Daniele","last_name":"Palombo","phones":[{"id":"PAkJjgMi179yV","number":"5555555555","country_code":"1","status":"pending","priority":"primary"}],"emails":[{"id":"EAmCbHaM6E7v8","address":"danielepalombo@nebulab.com","status":"active","priority":"primary"}],"email_verified":false,"platform_account_status":"none"},"from_credit_card":{"id":"CAhp2hhyKhdRv","last4":"1004","bin":"411111","expiration":1682899200000,"network":"visa","token_type":"bolt","priority":"listed","display_network":"Visa","icon_asset_path":"img/issuer-logos/visa.png","status":"active"},"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"authorization":{"auth":"84076958166069130","reason":"none","status":"succeeded"},"captures":null,"merchant_division":{"id":"MA9hYSVYJ12VA","merchant_id":"MA5Ho7ftc4HPz","public_id":"Rq4qB1QajYLn","description":"Daniele
        Palombo (Nebulab)","display_name":"Solidus","logo":{"domain":"img-sandbox.bolt.com","resource":""},"platform":"none","hook_url":"https://918c9efe2fcf.ngrok.io/webhooks","hook_type":"bolt","is_universal_merchant_api":true,"is_webhooks_v2":true,"shipping_url":"","tax_url":"","debug_url":"https://asdf.ngrok.com/webhooks","confirmation_redirect_url":""},"transaction_properties":{"avs_result":"34","cvv_result":"M"},"indemnification_decision":"not_indemnified","indemnification_reason":"direct_payments","splits":[{"amount":{"amount":11000,"currency":"USD","currency_symbol":"$"},"type":"net"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"processing_fee"},{"amount":{"amount":0,"currency":"USD","currency_symbol":"$"},"type":"bolt_fee"}],"review_ticket":{"request_deadline":1652534177175}},"did_create_bolt_account":false}'
  recorded_at: Wed, 11 May 2022 05:16:18 GMT
- request:
    method: get
    uri: https://api-sandbox.bolt.com/v1/merchant/transactions/BR6G-B6KH-WXBX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nonce:
      - b25fa22d91e73f171e11a3d633424b9b
      X-Api-Key:
      - db1bd1ff3631f9c3e30d3555ad2989fa7cbed58b2344aea911aa7e2d52dba3e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Public-Key-Pins-Report-Only:
      - max-age=25[...]
